@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
:root {
    --poke-red: #c93030;
    
}
*{
    font-family: 'Press Start 2P', sans-serif;
}
.container{
    padding: 10px;
}
.row{
    display: flex;
    padding: 10px;
    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
}
.column{
    padding: 10px;
    &.small{
        width: 40%;
    }
    &.large{
        width: 60%;
    }
    &.medium{
        width: 50%;
    }
    &.full{
        width: 100%;
    }
    @media screen and (max-width: 650px) {
        width: 100% !important;
        
    }
}
.border-pixel{
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow:
            4px 4px 0 0 #d3d3d3,
            -4px -4px 0 0 #d3d3d3;
    margin: 10px;
}
.app{
    background-color: #ffffff;
    background-image:
            linear-gradient(to right, #d1d1d1 1px, transparent 1px),
            linear-gradient(to bottom, #d1d1d1 1px, transparent 1px);
    background-size: 40px 40px;
    width: 100%;
    min-height: 100vh;
}


